@keyframes partytime {
  0% {
    background-color: red;
  }
  20% {
    background-color: blue;
  }
  50% {
    background-color: yellow;
  }
  60% {
    background-color: green;
  }
  100% {
    background-color: orange;
  }
}
* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.indextop {
  background-image: url(images/index\ backround.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 1024px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  transition: all 1s;
}

.indextop__header {
  width: 788px;
  height: 125px;
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  color: #ffffff;
  padding-top: 217.1px;
}

.indextop__header:hover {
  transform: scale(1.2);
}

.indextop__header_text {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0px;
  font-family: "Montserrat";
  color: #ffffff;
  width: 481px;
  height: 64px;
  padding-top: 32px;
}

.indextop__header_text:hover {
  transform: scale(1.2);
}

.indextop__header_button {
  border-radius: 30px;
  border: 1px solid #040404;
  width: 234.06px;
  height: 48.6px;
  padding: 10px 63px 11px 90px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 44px;
  background-color: #9c0332;
  color: white;
  display: flex;
  align-items: center;
}

.indextop__header_button:hover {
  animation: partytime 2000ms infinite;
  transform: scale(1.2);
}

.indexbot {
  background-image: url(images/index\ bot.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 556px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background-size: cover;
}

.indexbot__text {
  position: absolute;
  font-family: "Montserrat";
  left: 32px;
  bottom: 32px;
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.indexbot__text:hover {
  transform: scale(1.2);
}

.indexbot__group1 {
  background-image: url(images/group\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 379px;
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat";
  display: flex;
  position: relative;
}

.indexbot__group1:hover {
  transform: scale(1.2);
}

.indexbot__group2:hover {
  transform: scale(1.2);
}

.indexbot__group3:hover {
  transform: scale(1.2);
}

.indexbot__group2 {
  background-image: url(images/group\ 3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 379px;
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat";
  display: flex;
  position: relative;
}

.indexbot__group3 {
  background-image: url(images/group\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 379px;
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat";
  display: flex;
  position: relative;
} 
.container {
  background-color: #000915;
  background-size: cover;
  width: 1440px;
  height: 800px;
  display: flex;
}
.container__gamepng {
  width: 485px;
  height: 333px;
  padding-top: 233.5px;
}
.container__box {
  display: flex;
  flex-direction: column;
  padding-top: 282px;
  gap: 32px;
}
.container__box_header {
  width: 788px;
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: 700px;
  line-height: 78px;
  letter-spacing: 0px;
  color: #ffffff;
}
.container__box_text {
  font-size: 18px;
  letter-spacing: 0px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  width: 584px;
}
.container__box_button {
  border-radius: 30px;
  border: 1px solid #040404;
  width: 234.06px;
  height: 48.6px;
  padding: 10px 63px 11px 90px;
  font-family: "Montserrat", sans-serif;
  background-color: #9c0332;
  color: white;
  display: flex;
  align-items: center;
}

.container__box_button:hover {
  transform: scale(1.2);
  animation: partytime 2000ms infinite;
}

.container__box_header:hover {
  transform: scale(1.2);
}

.container__box_text:hover {
  transform: scale(1.2);
}

.container__gamepng:hover {
  transform: scale(1.2);
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .indextop {
    gap: 32px;
  }
  .indextop__header {
    font-size: 32px;
    width: -moz-fit-content;
    width: fit-content;
    padding-top: 238px;
    text-align: center;
  }
  .indextop__header_text {
    font-size: 14px;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
  }
  .indexbot {
    display: grid;
    height: 1221px;
    align-content: center;
  }
  .indexbot__group1 {
    width: 343px;
  }
  .indexbot__group2 {
    width: 343px;
  }
  .indexbot__group3 {
    width: 343px;
  }
  .indextop__header_button {
    margin-left: 54px;
  }
  .container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: -moz-fit-content;
    width: fit-content;
    height: 1221px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container__gamepng {
    width: 344px;
    height: 236px;
    padding-top: 64px;
  }
  .container__box {
    padding-top: 178.87px;
    text-align: center;
    align-items: center;
  }
  .container__box_header {
    font-size: 32px;
    padding-top: 0;
    width: -moz-fit-content;
    width: fit-content;
  }
  .container__box_text {
    font-size: 14px;
    width: -moz-fit-content;
    width: fit-content;
  }
}/*# sourceMappingURL=hw7.css.map */